---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import RoomsList from '../components/react/RoomsList.jsx';
import Features from '../components/Features.astro';
import Reviews from '../components/react/Reviews.jsx';
import Gallery from '../components/react/Gallery.jsx';
import FAQ from '../components/react/FAQ.jsx';
import Footer from '../components/Footer.astro';
import FloatingBar from '../components/react/FloatingBar.jsx';
---

<Layout>
	<Header />
	<main>
		<Hero />
		<Features />
		<Reviews client:load />
		<RoomsList client:load />
		<Gallery client:load />
		<FAQ client:load />
	</main>
	<Footer />
	<FloatingBar client:load />
</Layout>
